@import url(reset.css);
@font-face {
	font-family: ptsansnarrowbold;
	src: url(../fonts/ptsansnarrowbold.woff) format("woff"), url(../fonts/ptsansnarrowbold.woff2) format("woff2");
}
@font-face {
	font-family: ptsansnarrow;
	src: url(../fonts/ptsansnarrow.woff) format("woff"), url(../fonts/ptsansnarrow.woff2) format("woff2");
}
@font-face {
	font-family: Lobster-Regular;
	src: url(../fonts/Lobster-Regular.woff) format("woff"), url(../fonts/Lobster-Regular.woff2) format("woff2");
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
a, .button {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
}
.button {
	display: inline-block;
	font-size: 14px;
	width: 140px;
	text-align: center;
	padding: 12px 0;
	background-color: #000;
	border: 2px solid #000;
	font-family: ptsansnarrowbold;
}
.button:hover, .button:focus {
	border: 2px solid #000;
	color: #000;
	background-color: #fff;
}
body {
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: ptsansnarrowbold;
}
.clear {
	clear: both;
}
.hidden {
	display: none;
}
.content {
	max-width: 950px;
	min-width: 500px;
	margin: 0 auto;
	padding: 0 5px;
}
header {
	background-color: #000000;
}
.top-navigation ul {
	display: flex;
	align-items: stretch;
}
.top-navigation__item:last-child {
	margin-right: 0;
	margin-left: auto;
}
.top-navigation__item_button {
	background-color: #000000;
	border: none;
}
.top-navigation__item a, .top-navigation__item_button {
	display: inline-block;
	padding: 25px 20px;
	height: 100%;
	color: #ffffff;
	font-size: 16px;
	font-family: ptsansnarrowbold;
}
.top-navigation__item a:hover, .top-navigation__item a:focus, .top-navigation__item .top-navigation__item_button:hover {
	outline: none;
	background-color: #535353;
}
main {
	background: url(../img/background.png) no-repeat #070707;
	padding: 62px 0;
}	
.index-logo {
	width: 371px;
	height: 155px;
	display: block;
	margin: 0 auto;
}
.advantages {
	margin: 72px 0 30px;
}
.advantages ul li {
	float: left;
	width: 33%;
	text-align: center;
	padding: 0 15px;
}
.advantages ul li strong {
	font-size: 30px;
	text-transform: uppercase;
}
.advantages p {
	font-size: 14px;
	line-height: 24px;
}
.advantages .diamont {
	background-color: #fff;
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
	margin: 14px auto 30px;
}
.content-list-item {
	float: left;
	width: 50%;
	height: 420px;
	margin-top:35px;
	background-color: #FFF;
	color: #000000;
	padding: 60px 15px 0 80px;
}
.content-list-item h3 {
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.content-list-item p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}	
.nwes-list-item time {
	display: inline-block;
	margin-bottom: 20px;
}
.content-list-item:nth-child(2n) {
	box-shadow: -3px 0 4px #c9c6c4;
}
.contact-form {
	max-width: 300px;
}
.contact_form__list_item:nth-child(2n-1) {
	float: left;
}
.contact_form__list_item:nth-child(2n) {
	float: right;
}
.contact_form__list_item {
	max-width: 140px;
	margin-bottom: 10px;

}
.contact-form .contact_form__list_item label {
	display: block;
	margin-bottom: 10px;
}
.contact-form .contact_form__list_item input {
	max-width: 140px;
	height: 30px;
	border: 2px solid #000;
	padding: 0 5px;
}
input[type="submit"] {
	display: block;
	width: 100%;
	
}
footer {
	background-color: #252525;
	padding: 65px 0;
	text-transform: uppercase;
	font-size: 12px;
}
.bottom-item {
	float: left;
	width: 33%;
}
.bottom-develop {
	max-width: 140px;
	float: right;
}
.bottom-social p {
	text-align: center;
}
.bottom-social ul {
	display: flex;
	justify-content: center;
}
.bottom-social_item {
	float: left;
}
.bottom-develop span {
	text-align: center;
	display: block;
}
